/* Imports */
/* --- GENERAL --- */
body {
  color: #555555;
  background: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}
hr {
  background-color: #e1e1e1;
}
input,
textarea {
  border-color: #cdcdcd #e1e1e1 #e1e1e1 #cdcdcd;
  color: #555555;
  background: #fff;
}
body a {
  color: #b72020;
}
body a:hover {
  color: #950000;
}
/* --- NAVIGATION --- */
.nav-toggle a {
  background: url(dark-glossy/nav-toggle.png) no-repeat left top;
}
#navigation ul.rss li a {
  color: #555555;
}
#navigation ul.rss.sub-email {
  color: #555555;
}
#navigation .nav li a:hover:after {
  border-color: #fff transparent transparent transparent!important;
}
.nav a {
  color: #494949;
  text-shadow: 1px 1px 0 #000;
}
.nav a:hover {
  background: #2f2f2f;
  color: #fff;
  text-shadow: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}
.nav li.parent > a:after {
  border: 0.3em solid #3c3c3c;
  border-color: #3c3c3c transparent transparent transparent !important;
}
.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.li.current-menu-item a {
  background: #2f2f2f !important;
  color: #fff;
}
.nav li.current_page_item a:after,
.nav li.current_page_parent a:after,
.nav li.current-menu-ancestor a:after,
.nav li.current-cat a:after,
.nav li.li.current-menu-item a:after {
  border-color: #fff transparent transparent transparent;
}
/* --- HEADER --- */#header {
  background: none;
  background: #1a1a1a;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#000000));
  background: -webkit-linear-gradient(#1a1a1a, #000000);
  background: -moz-linear-gradient(center top, #1a1a1a 0%, #000000 100%);
  background: -moz-gradient(center top, #1a1a1a 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1a1a1a,endColorstr=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1a1a1a, endColorstr=#000000)";
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.3);
}
#header .site-title,
#header .site-description {
  color: #000;
}
#header .site-title a,
#header .site-description a {
  color: #222222;
}
#header .site-description {
  color: #6f6f6f;
}
#header .search_main .searchform {
  background: #262626;
  border-color: #000000;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4), 0 0 2px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4), 0 0 2px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4), 0 0 2px rgba(255, 255, 255, 0.2);
}
#header .search_main .searchform .s:focus {
  color: #fff;
}
/* --- CONTENT --- */
#content {
  background: #fff;
}
#intro {
  background: #1a1a1a;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: relative;
}
#intro h1 {
  color: #f5f5f5;
}
/* --- SLIDER --- */
#featured {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
#featured article {
  color: #fff;
}
#featured article a {
  color: #fff;
}
#featured article header {
  background: rgba(0, 0, 0, 0.9);
}
#featured article header h1,
#featured article header h1 a {
  color: #fff;
}
.controls-container .flex-control-nav li {
  border: 3px solid rgba(0, 0, 0, 0.3);
}
.controls-container .flex-control-nav li a {
  border: 5px solid #000;
  background: #000;
}
.controls-container .flex-control-nav li a:hover {
  background: #3c3c3c;
}
.controls-container .flex-control-nav li a.active {
  background: #b72020;
  background: -webkit-gradient(linear, left top, left bottom, from(#b72020), to(#8c1818));
  background: -webkit-linear-gradient(#b72020, #8c1818);
  background: -moz-linear-gradient(center top, #b72020 0%, #8c1818 100%);
  background: -moz-gradient(center top, #b72020 0%, #8c1818 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b72020,endColorstr=#8c1818);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b72020, endColorstr=#8c1818)";
}
.featured-wrap {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #000000;
}
.featured-wrap .flex-direction-nav .prev,
.featured-wrap .flex-direction-nav .next {
  border: none;
  border: 1px solid #1a1a1a;
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.3);
}
.featured-wrap .flex-direction-nav .prev {
  background: #3c3c3c;
  background-image: url("../images/ico-slider-prev-alt.png"), -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#232323));
  background-image: url("../images/ico-slider-prev-alt.png"), -webkit-linear-gradient(#3c3c3c, #232323);
  background-image: url("../images/ico-slider-prev-alt.png"), -moz-linear-gradient(center top, #3c3c3c 0%, #232323 100%);
  background-image: url("../images/ico-slider-prev-alt.png"), -moz-gradient(center top, #3c3c3c 0%, #232323 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c,endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c, endColorstr=#232323)";
  background-repeat: no-repeat;
  background-position: center center;
}
.featured-wrap .flex-direction-nav .prev:hover {
  background: #2f2f2f;
  background-image: url("../images/ico-slider-prev-alt.png"), -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#232323));
  background-image: url("../images/ico-slider-prev-alt.png"), -webkit-linear-gradient(#2f2f2f, #232323);
  background-image: url("../images/ico-slider-prev-alt.png"), -moz-linear-gradient(center top, #2f2f2f 0%, #232323 100%);
  background-image: url("../images/ico-slider-prev-alt.png"), -moz-gradient(center top, #2f2f2f 0%, #232323 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2f2f2f,endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2f2f2f, endColorstr=#232323)";
  background-repeat: no-repeat;
  background-position: center center;
}
.featured-wrap .flex-direction-nav .next {
  right: 20px;
  background: #3c3c3c;
  background-image: url("../images/ico-slider-next-alt.png"), -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#232323));
  background-image: url("../images/ico-slider-next-alt.png"), -webkit-linear-gradient(#3c3c3c, #232323);
  background-image: url("../images/ico-slider-next-alt.png"), -moz-linear-gradient(center top, #3c3c3c 0%, #232323 100%);
  background-image: url("../images/ico-slider-next-alt.png"), -moz-gradient(center top, #3c3c3c 0%, #232323 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c,endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3c3c3c, endColorstr=#232323)";
  background-repeat: no-repeat;
  background-position: center center;
}
.featured-wrap .flex-direction-nav .next:hover {
  background: #2f2f2f;
  background-image: url("../images/ico-slider-next-alt.png"), -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#232323));
  background-image: url("../images/ico-slider-next-alt.png"), -webkit-linear-gradient(#2f2f2f, #232323);
  background-image: url("../images/ico-slider-next-alt.png"), -moz-linear-gradient(center top, #2f2f2f 0%, #232323 100%);
  background-image: url("../images/ico-slider-next-alt.png"), -moz-gradient(center top, #2f2f2f 0%, #232323 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2f2f2f,endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2f2f2f, endColorstr=#232323)";
  background-repeat: no-repeat;
  background-position: center center;
}
/* --- HOMEPAGE SECTIONS --- */
body .home-section {
  border-bottom: 1px dotted #c8c8c8;
}
body .home-section header a.more {
  color: #222222;
  background: url(dark-glossy/ico-more.png) no-repeat left top;
}
body .home-section#features li h2 a {
  color: #222222;
}
body .home-section#portfolio .portfolio-item a {
  border: 1px solid #e1e1e1;
  border-bottom: 1px solid #c8c8c8;
  background: #fff;
}
/* --- PORTFOLIO --- */
#portfolio-gallery h1 {
  border-bottom: 1px solid #e1e1e1;
}
#portfolio-gallery h1 #port-tags a {
  color: #6f6f6f;
  text-shadow: 1px 1px 0 #fff;
}
#portfolio-gallery h1 #port-tags a:hover {
  color: #3b3b3b;
}
#portfolio-gallery h1 #port-tags a.current {
  color: #b72020;
}
.portfolio-item h2 a {
  color: #b72020;
}
.portfolio-item .category {
  color: #7b7b7b;
}
.single-portfolio .portfolio {
  border-bottom: 1px solid #e1e1e1;
}
.single-portfolio .portfolio .portfolio-meta .portfolio-comments a {
  color: #3b3b3b;
}
/* --- FEATURES CPT --- */
article.type-features {
  border-bottom: 1px solid #e1e1e1;
}
article.type-features header h1 a {
  color: #222222;
}
article.type-features .post-more a:link,
article.type-features .post-more a:visited {
  color: #3b3b3b;
}
/* --- FOOTER --- */
#footer {
  color: #fff;
  border-top: 1px solid #1a1a1a;
  background: #000000;
}
#footer .nav a {
  color: #fff;
}
#footer-widgets {
  background: #000000;
}
/* --- BREADCRUMBS --- */
.breadcrumbs {
  color: #888888;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}
.breadcrumbs a {
  color: #888888;
}
.breadcrumbs a:hover {
  color: #555555;
}
/* --- POSTS --- */
.archive_header {
  border-bottom: #e1e1e1 1px solid;
}
.single-post .post {
  border-bottom: 1px dotted #c8c8c8;
}
.post header h1 a:link,
.type-page header h1 a:link,
.search-results .features header h1 a:link,
.search-results .page header h1 a:link,
.post header h1 a:visited,
.type-page header h1 a:visited,
.search-results .features header h1 a:visited,
.search-results .page header h1 a:visited {
  color: #222222;
}
.post header .post-category a,
.type-page header .post-category a,
.search-results .features header .post-category a,
.search-results .page header .post-category a {
  color: #6f6f6f !important;
}
.post header .post-category a:hover,
.type-page header .post-category a:hover,
.search-results .features header .post-category a:hover,
.search-results .page header .post-category a:hover {
  color: #555555 !important;
}
.post .post-meta li,
.type-page .post-meta li,
.search-results .features .post-meta li,
.search-results .page .post-meta li {
  color: #6f6f6f;
}
.post .post-meta li a,
.type-page .post-meta li a,
.search-results .features .post-meta li a,
.search-results .page .post-meta li a {
  color: #6f6f6f !important;
}
.post .post-meta li a:hover,
.type-page .post-meta li a:hover,
.search-results .features .post-meta li a:hover,
.search-results .page .post-meta li a:hover {
  color: #555555 !important;
}
.post .post-meta a:link,
.type-page .post-meta a:link,
.search-results .features .post-meta a:link,
.search-results .page .post-meta a:link,
.post .post-more a:link,
.type-page .post-more a:link,
.search-results .features .post-more a:link,
.search-results .page .post-more a:link,
.post p.tags a:link,
.type-page p.tags a:link,
.search-results .features p.tags a:link,
.search-results .page p.tags a:link,
.post .post-meta a:visited,
.type-page .post-meta a:visited,
.search-results .features .post-meta a:visited,
.search-results .page .post-meta a:visited,
.post .post-more a:visited,
.type-page .post-more a:visited,
.search-results .features .post-more a:visited,
.search-results .page .post-more a:visited,
.post p.tags a:visited,
.type-page p.tags a:visited,
.search-results .features p.tags a:visited,
.search-results .page p.tags a:visited {
  color: #3b3b3b;
}
.post img:hover,
.type-page img:hover,
.search-results .features img:hover,
.search-results .page img:hover,
.post img.thumbnail:hover,
.type-page img.thumbnail:hover,
.search-results .features img.thumbnail:hover,
.search-results .page img.thumbnail:hover {
  border-color: #c8c8c8;
}
.post .wp-caption,
.type-page .wp-caption,
.search-results .features .wp-caption,
.search-results .page .wp-caption {
  background: #3c3c3c;
  border: 1px solid #e1e1e1;
}
.entry blockquote {
  color: #2f2f2f;
}
body #post-author {
  background-color: #fff;
  border: 1px solid #e1e1e1;
}
body #post-author .profile-image {
  border: 1px solid #e1e1e1;
}
body #post-author .profile-link .meta-nav {
  background: url(dark-glossy/ico-more.png) no-repeat left center;
}
.entry table {
  border: 1px solid #e1e1e1;
}
.entry table tr.alt-table-row {
  background: #373737;
}
.entry table th {
  background: #eee;
  border: 1px solid #e1e1e1;
}
.entry table td {
  border: 1px solid #e1e1e1;
}
#connect h3 {
  border-bottom: 1px solid #e1e1e1;
}
#connect .related-posts {
  border-top: 1px solid #e1e1e1;
}
#connect .related-posts ul li a {
  color: #555555;
}
/* --- PAGINATION --- */
body .nav-entries,
body #post-entries {
  border-top: 1px solid #e1e1e1;
}
body .nav-entries a,
body #post-entries a {
  color: #b72020;
}
body .nav-entries .nav-prev .meta-nav,
body #post-entries .nav-prev .meta-nav {
  background: url(dark-glossy/ico-previous.png) no-repeat left center;
}
body .nav-entries .nav-next .meta-nav,
body #post-entries .nav-next .meta-nav {
  background: url(dark-glossy/ico-more.png) no-repeat right center;
}
body .woo-pagination {
  border-top: 1px solid #e1e1e1;
}
body .woo-pagination .page-numbers {
  color: #555555;
}
body .woo-pagination .page-numbers.current {
  background: #b72020;
  border-color: #2f2f2f;
  color: #fff;
}
/* --- WIDGETS --- */
.widget h3 {
  color: #555555;
  border-bottom: 1px solid #c8c8c8;
}
.widget ul li a {
  border-bottom: 1px solid #e9e9e9;
}
#searchform,
.searchform {
  border-color: #e1e1e1;
}
#searchform input.s,
.searchform input.s,
#searchform #s,
.searchform #s {
  color: #555555;
}
.widget_recent_comments ul li {
  border-bottom: 1px solid #e9e9e9;
}
.widget_woo_feedback .pagination .btn-prev {
  background: url(dark-glossy/ico-previous.png) no-repeat left center;
}
.widget_woo_feedback .pagination .btn-next {
  background: url(dark-glossy/ico-more.png) no-repeat left center;
}
.widget_woo_flickr a img {
  border: 1px solid #e1e1e1;
}
.widget_woo_flickr a:hover img {
  border-color: #c8c8c8;
}
#wp-calendar th,
#wp-calendar td {
  background: #232323;
}
#wp-calendar td {
  color: #6f6f6f;
}
.widget_woo_blogauthorinfo .avatar {
  border: 1px solid #e1e1e1;
}
.widget_woo_twitter ul li {
  border-bottom: 1px solid #e9e9e9;
}
.widget_woo_twitter ul li .time {
  color: #6f6f6f;
}
.widget_woo_twitter p {
  background: url(dark-glossy/ico-more.png) no-repeat right 10px;
  color: #6f6f6f;
}
.widget_woo_twitter p a {
  color: #222222;
}
.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
  color: #fff;
  background: #d4d4d4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover {
  background: #c8c8c8;
}
.widget_woo_subscribe #connect .social {
  border-top: 1px dotted #e1e1e1;
}
.widget_woo_embedwidget ul li a {
  color: #555555;
}
.widget_woo_embedwidget ul li.active a {
  color: #b72020;
}
#tabs ul.wooTabs li {
  color: #fff;
}
#tabs ul.wooTabs li a {
  color: #6f6f6f;
}
#tabs .inside {
  border-top: 1px solid #e9e9e9;
}
#tabs .inside #tab-tags a {
  background: #d4d4d4;
  color: #fff;
}
#tabs .inside #tab-tags a:hover {
  background: #c8c8c8;
}
#tabs .inside li {
  border-bottom: 1px solid #e9e9e9;
}
#tabs .inside li a {
  color: #555555;
}
#tabs .inside li span.meta {
  color: #6f6f6f;
}
#tabs .inside li img.avatar,
#tabs .inside li img.thumbnail {
  border: 1px solid #e1e1e1;
}
#tabs .inside li img.avatar:hover,
#tabs .inside li img.thumbnail:hover {
  border-color: #c8c8c8;
}
/* --- FOOTER WIDGETS --- */
#footer-widgets .widget {
  color: #c7c7c7;
}
#footer-widgets .widget h3 {
  color: #fff;
  border-bottom: none;
}
#footer-widgets .widget ul li a {
  color: #c7c7c7;
}
#footer-widgets .searchform,
#footer-widgets #searchform {
  background: #fff;
}
#footer-widgets .widget_woo_twitter ul li {
  border-bottom: 1px solid #c7c7c7;
}
#footer-widgets .widget_woo_twitter p a {
  color: #fafafa;
}
#footer-widgets .widget_woo_contactus ul {
  border-top: 1px solid #4d4d4d;
}
#footer-widgets .widget_woo_contactus ul li {
  border-bottom: 1px solid #4d4d4d;
}
#footer-widgets #tabs .inside {
  border-top: 1px solid #c7c7c7;
}
#footer-widgets #tabs .inside #tab-tags a {
  color: #fff;
  background: #c7c7c7;
}
#footer-widgets #tabs .inside #tab-tags a:hover {
  background: #aeaeae;
}
#footer-widgets #tabs .inside li {
  border-bottom: 1px solid #c7c7c7;
}
#footer-widgets #tabs .inside li img.avatar,
#footer-widgets #tabs .inside li img.thumbnail {
  background: #c7c7c7;
}
#footer-widgets #tabs .inside li img.avatar:hover,
#footer-widgets #tabs .inside li img.thumbnail:hover {
  background: #555555;
}
#footer-widgets .widget_woo_subscribe #connect .social {
  border-top: 1px dotted #c7c7c7;
}
#footer-widgets .widget_woo_blogauthorinfo .avatar {
  border: 1px solid #c7c7c7;
}
#footer-widgets .widget_woo_flickr a img {
  border: 1px solid #333333;
}
#footer-widgets .widget_woo_flickr a:hover img {
  border-color: #555555;
}
#footer-widgets .widget_tag_cloud .tagcloud a,
#footer-widgets .widget_product_tag_cloud .tagcloud a {
  color: #fff;
  background: #c7c7c7;
}
#footer-widgets .widget_tag_cloud .tagcloud a:hover,
#footer-widgets .widget_product_tag_cloud .tagcloud a:hover {
  background: #4d4d4d;
}
/* --- COMMENTS --- */
#comments {
  border-top: 1px solid #e1e1e1;
}
#comments h3 {
  border-bottom: 1px solid #e1e1e1;
}
#comments .comment .comment-container {
  border-bottom: 1px solid #e1e1e1;
}
#comments .comment .comment-head {
  color: #6f6f6f;
}
#comments .comment .comment-head .name {
  color: #3b3b3b;
}
#comments .comment .avatar img {
  border: 1px solid #e1e1e1;
}
#comments .comment .reply a {
  color: #555555 !important;
}
#respond label {
  color: #6f6f6f;
}
/* --- PAGE TEMPLATES --- */
#archives .archives_list {
  border-left: 1px solid #e1e1e1;
}
#archives .archives_list .date {
  color: #6f6f6f;
}
#archives .archives_list .comments a {
  color: #7b7b7b;
}
h3.archive_year {
  color: #555555;
}
.page-template-template-contact-php .location-twitter {
  border-bottom: 1px solid #e1e1e1;
}
.page-template-template-contact-php .location-twitter .contact-social #twitter ul li a.time {
  color: #7b7b7b;
}
.page-template-template-contact-php .location-twitter .contact-social #connect {
  border-top: 1px solid #e1e1e1;
}
.image-gallery-item img {
  border: 1px solid #232323;
  background: #3c3c3c;
}
.image-gallery-item img:hover {
  border: 1px solid #090909;
}
/* --- BUTTONS --- */
body a.button,
body a.comment-reply-link,
body #commentform #submit,
body .submit,
body input[type=submit],
body input.button,
body button.button {
  background: #b72020;
  background: -webkit-gradient(linear, left top, left bottom, from(#b72020), to(#b72020));
  background: -webkit-linear-gradient(#b72020, #b72020);
  background: -moz-linear-gradient(center top, #b72020 0%, #b72020 100%);
  background: -moz-gradient(center top, #b72020 0%, #b72020 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b72020,endColorstr=#b72020);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b72020, endColorstr=#b72020)";
}
body a.button:hover,
body a.comment-reply-link:hover,
body #commentform #submit:hover,
body .submit:hover,
body input[type=submit]:hover,
body input.button:hover,
body button.button:hover {
  background: #a60f0f;
}
body a.button:active,
body a.comment-reply-link:active,
body #commentform #submit:active,
body .submit:active,
body input[type=submit]:active,
body input.button:active,
body button.button:active {
  border-color: #620000;
}
/* --- IE --- */.ie6 .button,
.ie6 .button:visited {
  color: #555555 !important;
}
.ie6 .reply a {
  color: #555555 !important;
}
.ie8 #featured article header {
  background: #b72020;
}
.ie9 .controls-container .flex-control-nav li a.active,
.ie8 .controls-container .flex-control-nav li a.active {
  background: #b72020 !important;
}
.ie9 .controls-container .flex-direction-nav .prev,
.ie8 .controls-container .flex-direction-nav .prev {
  background-color: #3c3c3c;
  border-color: #494949;
}
.ie9 .controls-container .flex-direction-nav .prev:hover,
.ie8 .controls-container .flex-direction-nav .prev:hover {
  background-color: #090909;
}
.ie9 .controls-container .flex-direction-nav .next,
.ie8 .controls-container .flex-direction-nav .next {
  background-color: #3c3c3c;
  border-color: #494949;
}
.ie9 .controls-container .flex-direction-nav .next:hover,
.ie8 .controls-container .flex-direction-nav .next:hover {
  background-color: #090909;
}
.ie9 .featured-wrap .prev,
.ie8 .featured-wrap .prev {
  background-color: #3c3c3c;
}
.ie9 .featured-wrap .prev:hover,
.ie8 .featured-wrap .prev:hover {
  background-color: #090909;
}
.ie9 .featured-wrap .next,
.ie8 .featured-wrap .next {
  background-color: #3c3c3c;
}
.ie9 .featured-wrap .next:hover,
.ie8 .featured-wrap .next:hover {
  background-color: #090909;
}
.ie #header {
  filter: none;
  background: #222;
  border-bottom: none;
}
/* --- LAYOUT.CSS (IPAD PORTRAIT & HIGHER) --- */
@media only screen and (min-width: 768px) {
  /* --- TOP NAV --- */
  #top {
    background: #000;
  }
  #top .nav a {
    color: #6f6f6f;
  }
  #top .nav a:hover {
    background: #2f2f2f;
  }
  #top .nav li:hover > a {
    background: #2f2f2f;
    color: #fff;
  }
  #top .nav li:hover > a:after {
    border-color: #fff transparent transparent transparent!important;
  }
  #top .nav li.parent > a:after {
    border-color: #494949 transparent transparent transparent;
  }
  #top .nav li.current_page_item a,
  #top .nav li.current_page_parent a,
  #top .nav li.current-menu-ancestor a,
  #top .nav li.current-cat a,
  #top .nav li.li.current-menu-item a {
    background: #2f2f2f;
    color: #fff;
  }
  #top .nav li ul {
    background: #2f2f2f;
  }
  #top .nav li ul li {
    background: #2f2f2f;
  }
  #top .nav li ul li a {
    color: #d4d4d4;
    background: #2f2f2f !important;
  }
  #top .nav li ul li a:hover {
    background: #282828 !important;
  }
  #top .nav li ul li.parent > a:after {
    border-color: transparent transparent transparent #000000 !important;
  }
  #top .nav li ul li.parent > a:hover:after {
    border-color: transparent transparent transparent #fff;
  }
  /* --- MAIN NAVIGATION --- */
  #navigation .nav li {
    margin: 0 10px 0 0;
  }
  #navigation .nav li:hover > a {
    background: #2f2f2f;
    color: #fff;
    text-shadow: none;
  }
  #navigation .nav li:hover > a:after {
    border-color: #fff transparent transparent transparent!important;
  }
  #navigation .nav li ul {
    background: #2f2f2f;
  }
  #navigation .nav li ul li a {
    text-shadow: none;
  }
  #navigation .nav li ul li a:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  #navigation .nav li ul li.parent a:after {
    border-color: transparent transparent transparent #fff !important;
  }
  /* --- MISC. --- */
  #connect .related-posts {
    border-left: 1px solid #e1e1e1;
  }
}
/* --- WOOCOMMERCE --- */
.mini-cart a.cart-parent {
  background: #000000;
  box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.5);
}
.mini-cart a.cart-parent:hover {
  background-color: #1a1a1a;
}
.onsale {
  background: #ce1b1b;
}
.woocommerce_message,
p.info,
li.info,
.woocommerce_error {
  border: 1px solid #e1e1e1;
}
.woocommerce_message {
  border-color: #e1e1e1;
  background-color: #3c3c3c;
  border: 1px solid #e1e1e1;
  color: #fff;
}
.woocommerce_message .button {
  border: 1px solid #601111;
  background: #b72020;
  background: -webkit-gradient(linear, left top, left bottom, from(#b72020), to(#8c1818));
  background: -webkit-linear-gradient(#b72020, #8c1818);
  background: -moz-linear-gradient(center top, #b72020 0%, #8c1818 100%);
  background: -moz-gradient(center top, #b72020 0%, #8c1818 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b72020,endColorstr=#8c1818);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b72020, endColorstr=#8c1818)";
}
.woocommerce_message .button:hover {
  background: #db2f2f;
  background: -webkit-gradient(linear, left top, left bottom, from(#db2f2f), to(#b72020));
  background: -webkit-linear-gradient(#db2f2f, #b72020);
  background: -moz-linear-gradient(center top, #db2f2f 0%, #b72020 100%);
  background: -moz-gradient(center top, #db2f2f 0%, #b72020 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#db2f2f,endColorstr=#b72020);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#db2f2f, endColorstr=#b72020)";
}
ul.products li.product a.button {
  color: #b72020 !important;
}
.single-product .summary .price {
  color: #b72020;
}
.single-product .woocommerce_tabs ul.tabs {
  background: #3c3c3c url(../images/bg-texture.png) repeat left top;
  border: 1px solid;
}
.single-product .woocommerce_tabs ul.tabs li a {
  box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
  border: 1px solid #626262;
  color: #232323;
  text-shadow: none;
}
.single-product .woocommerce_tabs ul.tabs li a:hover {
  background: #898989;
}
.single-product .woocommerce_tabs ul.tabs li.active a {
  background: #161616 url(../images/bg-texture.png) repeat left top;
  color: #000000;
  border: 1px solid #aeaeae;
  color: #fff;
}
.shipping_calculator h2 a {
  background: #b72020;
}
.shipping_calculator h2 a:hover {
  background: #9d1b1b;
}
.widget ul.product_list_widget li a,
.mini-cart ul.product_list_widget li a,
.widget ul.cart_list li a,
.mini-cart ul.cart_list li a {
  color: #b72020;
}
.widget_shopping_cart p.buttons .button:hover {
  background: #000000;
}
.widget_shopping_cart p.buttons .button.checkout {
  background: #b72020;
}
.widget_shopping_cart p.buttons .button.checkout:hover {
  background: #a11c1c;
}
.widget_price_filter .ui-slider .ui-slider-range {
  border: 1px solid #8c1818;
  background: #b72020;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #3c3c3c;
}
#footer-widgets .widget_price_filter .ui-slider .ui-slider-handle {
  border: 1px solid #000000;
}
@media only screen and (min-width: 768px) {
  ul.mini-cart li ul.cart_list {
    background: #000000;
  }
  ul.mini-cart li ul.cart_list li.buttons .button {
    background: #db2f2f;
  }
  ul.mini-cart li ul.cart_list li.buttons .button:hover {
    background: #de4545;
  }
  ul.mini-cart li ul.cart_list li.buttons .button.checkout {
    background: #8c1818;
  }
  ul.mini-cart li ul.cart_list li.buttons .button.checkout:hover {
    background: #761515;
  }
}
